/* Este arquivo importa e customiza o DatePicker */
@import '../../node_modules/react-datepicker/dist/react-datepicker.css';

/* Customizações adicionais para o DatePicker podem ser adicionadas aqui */
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
}

/* Estilos para o scanner de código de barras */
.scanner-container.invalid-code {
  animation: invalid-code-animation 0.5s;
}

@keyframes invalid-code-animation {
  0% { background-color: black; }
  50% { background-color: rgb(220, 53, 69, 0.6); }
  100% { background-color: black; }
} 